DATABASE_URL=your database url
INTERNAL_SERVICE_TOKEN=your internal service token
AI_SERVICE_URL=your ai url
CORS_ORIGIN=http://localhost:3000,http://127.0.0.1:3000,https://compliance-document-review-frontend.vercel.app,http://localhost:3000,http://localhost:3001
JWT_SECRET=your jwt secret token
